
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



.heading{
 margin-left:625px;
 font-family: "Montserrat";
 font-size: 20px; 
 padding: 5px;
 border: 2px solid black;
 border-radius: 10px;

 background-color: rgb(218, 237, 237);
 
}

.navbar {
    align-items: center;
    display: flex;
}

.container-fluid{
    font-family: "Montserrat";
 font-size: 20px;
}

.notice{
    min-height: 65vh;
    margin-left: 15px;
    margin-top: 10px;
    text-align: center;
    width: 98%;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid black;

}

.buttons{
    position: sticky;
    bottom: 0;
    width: 100vw;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

.create{
padding: 10px;
border: 2px solid black;
border-radius: 10px;
cursor:pointer;
}

.edit{

    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    cursor:pointer;
}

.view{
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
cursor:pointer;
}

.delete{
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
cursor:pointer;
}


.create:hover{
    background-color: aquamarine;
   
}

.edit:hover{
    background-color: aquamarine;
}

.view:hover{
    background-color: aquamarine;
}

.delete:hover{
    background-color: aquamarine;
}


.Notice {
    height: 100vh;
    display: flex;
    gap: 1rem;
}

.NoticeView {
    flex-grow: 1;
    padding: 10px;
}

.displayNotice {
    display: flex;
    height: fit-content;
    width: 100%;
    justify-content: start;
    align-items: center;
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 10px;
    justify-content: space-between;
}

.box {
    display: flex;
    gap: 10px;
}

#craftButton {
    border-radius: 0.75rem;
    padding: 5px 10px;
    background: white;
}

.NoticeCraft {
    width: 50%;
    transition: 1s;
    padding-right: 10px;
    height: fit-content;
}

#search { position: absolute; top: 40%; left: 40%; padding: .5rem 1rem; }