@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



.heading {
    display: flex;
    justify-content: end;
}

.navbar {
    align-items: center;
    display: flex;
}

.container-fluid {
    font-family: "Montserrat";
    font-size: 20px;
}

.notice {
    min-height: 65vh;
    margin-left: 15px;
    margin-top: 10px;
    text-align: center;
    width: 98%;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid black;

}

.buttons {
    position: sticky;
    bottom: 0;
    width: 100vw;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}


.Notice {
    height: 100vh;
    display: flex;
    gap: 1rem;
}

.NoticeView {
    flex-grow: 1;
    padding: 10px;
}

.displayNotice {
    min-height: 200px;
    display: flex;
    height: fit-content;
    width: 100%;
    justify-content: start;
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 10px;
    justify-content: space-between;
    border-radius: .75rem;
}



.button {
    border: none;
    border-radius: .75rem;
    background: gainsboro;
    color: black;
    padding: 10px 15px;
    animation: 1s;
    transition: 1s;
}

.create {
    border-radius: .75rem;
    background: lightpink;
    color: blueviolet;
    animation: 1s;
    transition: 1s;
}

.button:hover {
    cursor: pointer;
    transition: 1s;
    background: lightgreen;
    color: blueviolet !important;
}

textarea {
    border-radius: .75rem;
    border: none !important;
    background: lightcyan;
    color: rebeccapurple;
    padding: 1rem;
    text-align: start;
}

textarea::selection {
    border: none !important;

}

.box {
    display: flex;
    gap: 10px;
    align-items: center;
}

#craftButton {
    border-radius: 0.75rem;
    padding: 5px 10px;
    background: lightpink;
}

#craftButton:hover {
    background: greenyellow;
}

.NoticeCraft {
    width: 50%;
    transition: 1s;
    padding-right: 10px;
    height: fit-content;
    margin-right: 1rem;
}

#search {
    position: fixed;
    top: 40%;
    left: 30%;
    padding: .5rem 1rem;
    display: none;
    background: white;
}

#search input {
    border-radius: .75rem;
    background: white;
    padding: 1rem;
    margin-right: 5px;
}

#search button {
    border: none;
    font-size: 1.75rem;
    background: none;
}

.danger {
    transition: .5s;
    color: red !important;
    padding: 10px !important;
}
